@model IEnumerable<WebAPIDemoRepositorys.ViewModel.VillaDTO>
<br />
<div class="container shadow">
    <div class="row pb-4 pt-4">
        <div class="col text-info">
            <h2>Villa List</h2>
        </div>
        <div class="col text-end ">
            <a class="btn btn-white text-info border-info" asp-action="CreateVilla" asp-controller="Villa">
                <i class="bi bi-plus-square-fill pe-1"></i>Create New Villa
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Occupacy</th>
                <th scope="col">Last</th>
                <th scope="col">Sqr ft</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.occupancy</td>
                    <td>@item.Rate</td>
                    <td>
                        @* <a asp-action="UpdateVilla" asp-controller="Villa" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-pencil-square pe-1 "></i></a> *@
                        @* <a asp-action="DeleteVilla" asp-controller="Villa" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a> *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>